body {
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
   margin: 0;
   background-color: #e8e8f6;
}

h1 {
   font-weight: 600;
   margin: 0;
}

h2 {
   font-size: 22px;
   font-weight: 500;
   margin: 0;
}

p {
   margin: 0;
}

#wrapper {
   width: 100%;
   max-height: 100%;
   background-color: #dedef5;
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: 180px 1fr;
   background-color: #e8e8f6;
}

#sticky {
   width: 100%;
   min-height: 100vh;
   max-height: 100vh;
   z-index: 20;
   position: fixed;
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: 180px 1fr;
}

/* Sidebar */
#sidebar {
   width: 100%;
   height: 100%;
   background-color: #468bd0;
   grid-column: 1/2;
   grid-row: 1/4;
}

#logo {
   height: 90px;
   color: white;
   display: grid;
   grid-template-columns: 20px 70px 1fr;
   align-items: center;
   justify-items: start;
}

.sidebar-title {
   grid-column: 3;
}

.logo-svg {
   width: 60px;
   fill: white;
   grid-column: 2;
}

ul {
   list-style: none;
   color: white;
   display: grid;
   padding-left: 35px;
}

#nav-list {
   grid-template-rows: repeat(6, 55px);
   margin-top: 20px;
}

#setting-list {
   grid-template-rows: repeat(3, 55px);
   margin-top: 60px;
}

li {
   display: grid;
   grid-template-columns: 30px 1fr;
   align-items: center;
   cursor: pointer;
}

.nav-icon {
   width: 30px;
   fill: white;
   justify-self: end;
}

.nav-title {
   justify-self: start;
   padding-left: 25px;
}

/* Header */
#header {
   width: 100%;
   height: 100%;
   background-color: white;
   grid-column: 2/4;
   grid-row: 1/2;
   display: grid;
   grid-template-columns: 1fr 250px 170px;
   grid-template-rows: 1fr 1fr;
   box-shadow: 0 4px 8px -6px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0 4px 8px -6px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 4px 8px -6px rgba(0, 0, 0, 0.5);
   z-index: 10;
   position: sticky;
}

#search {
   grid-column: 1/3;
   grid-row: 1;
   width: calc(100% - 30px);
   display: grid;
   grid-template-columns: 35px 1fr;
   align-items: center;
   justify-items: start;
   padding: 0 30px;
}

#search-bar {
   width: 100%;
   max-width: 600px;
   height: 35px;
   background-color: #e8e8f6;
   border-radius: 50px;
}

.search-icon {
   height: 25px;
   cursor: pointer;
}

#profile {
   grid-column: 3/4;
   grid-row: 1;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 60px 45px 40px;
   align-items: center;
   justify-items: center;
}

.profile-pic {
   border-radius: 50%;
}

.profile-main {
   height: 45px;
   grid-column: 3;
   cursor: pointer;
}

.notifications {
   height: 25px;
   grid-column: 2;
   cursor: pointer;
}

#actions {
   grid-column: 2/4;
   grid-row: 2;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: start;
}

button {
   background-color: #468bd0;
   color: white;
   font-weight: 600;
   font-size: 16px;
   width: 100px;
   height: 40px;
   border: 0px;
   border-radius: 50px;
   cursor: pointer;
}

#account-welcome {
   grid-column: 1/2;
   grid-row: 2;
   display: grid;
   grid-template-columns: 30px 75px 1fr;
   grid-template-rows: 15px 25px 1fr;
   align-items: center;
   justify-items: start;
}

.profile-welcome {
   height: 65px;
   grid-column: 2;
   grid-row: 1/4;
}

.greeting {
   grid-column: 3;
   grid-row: 2;
   align-self: end;
}

#name {
   grid-column: 3;
   grid-row: 3;
   align-self: start;
   padding-top: 2px;
   font-size: 24px;
}

/* Main */
#main-content {
   max-width: 100%;
   background-color: #e8e8f6;
   grid-column: 2/4;
   grid-row: 2/4;
   display: grid;
   grid-template-columns: 1fr 30px 250px;
   grid-template-rows: 380px 1fr;
   padding: 30px;
}

#projects {
   grid-column: 1/2;
   grid-row: 1/3;
}

#announcements {
   grid-column: 3;
   grid-row: 1/2;
}

#trending {
   grid-column: 3;
   grid-row: 2/3;
}

.section-title {
   font-size: 20px;
   padding-bottom: 10px;
}

#cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(380px, 380px));
   grid-gap: 20px;
}

#announcement-card {
   height: 265px;
   width: 190px;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   padding: 30px;
   grid-gap: 15px;
}

.announcement h3 {
   margin: 0;
   font-size: 15px;
   padding-bottom: 4px;
}

.announcement p {
   font-size: 12px;
   padding-bottom: 15px;
   border-bottom: 1px solid rgb(174, 174, 174);
}

.announcement:nth-child(3) p {
   border-bottom: 0px solid rgb(174, 174, 174);
   padding-bottom: 0px;
}

#trending-card {
   height: 270px;
   width: 210px;
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 20px;
   padding: 20px;
}

.trending-profile {
   display: grid;
   grid-template-columns: 62px 1fr;
   grid-template-rows: 1fr 1fr;
   height: 50px;
}

.trending-photo {
   border-radius: 50%;
   height: 50px;
   grid-column: 1;
   grid-row: 1/3;
}

.handle {
   font-size: 16px;
   font-weight: 400;
   padding-bottom: 2px;
   grid-column: 2;
   grid-row: 1/2;
   align-self: end;
}

.trending-project {
   color: #767676;
   font-weight: 400;
   font-size: 14px;
   grid-column: 2;
   grid-row: 2/3;
   align-self: start;
}

.card {
   background-color: white;
   border-radius: 10px;
   box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
}

.content-card {
   height: 215px;
   width: 370px;
   background-color: white;
   border-left: 10px solid #eec368;
   display: grid;
   grid-template-rows: 45px 120px 50px;
}

#card-actions {
   width: 140px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 20px 17px 17px 0px;
   justify-self: end;
   align-self: end;
}

.card-title {
   padding: 20px 20px 0px 20px;
   margin: 0;
}

.card-description {
   padding: 5px 20px;
   justify-self: start;
}

.card-action {
   height: 27px;
   justify-self: end;
}