body {
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
   margin: 0;

}

h1 {
   font-weight: 600;
   margin: 0;
}

h2 {
   font-size: 22px;
   font-weight: 500;
   margin: 0;
}

#wrapper {
   width: 100%;
   min-height: 100vh;
   background-color: #dedef5;
   display: grid;
   grid-template-columns: 300px 1fr 300px;
   grid-template-rows: 180px 1fr 1fr;
}

/* Sidebar */
#sidebar {
   width: 100%;
   height: 100%;
   background-color: #468bd0;
   grid-column: 1/2;
   grid-row: 1/4;
}

#logo {
   height: 90px;
   color: white;
   display: grid;
   grid-template-columns: 20px 70px 1fr;
   align-items: center;
   justify-items: start;
}

.sidebar-title {
   grid-column: 3;
}

.logo-svg {
   width: 60px;
   fill: white;
   grid-column: 2;
}

ul {
   list-style: none;
   color: white;
   display: grid;
   padding-left: 35px;
}

#nav-list {
   grid-template-rows: repeat(6, 55px);
   margin-top: 20px;
}

#setting-list {
   grid-template-rows: repeat(3, 55px);
   margin-top: 60px;
}

li {
   display: grid;
   grid-template-columns: 30px 1fr;
   align-items: center;
   cursor: pointer;
}

.nav-icon {
   width: 30px;
   fill: white;
   justify-self: end;
}

.nav-title {
   justify-self: start;
   padding-left: 25px;
}

/* Header */
#header {
   width: 100%;
   height: 100%;
   background-color: white;
   grid-column: 2/4;
   grid-row: 1/2;
   display: grid;
   grid-template-columns: 1fr 420px;
   grid-template-rows: 1fr 1fr;
   box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.5);
   z-index: 10;
}

#search {
   width: calc(100% - 30px);
   display: grid;
   grid-template-columns: 35px 1fr;
   align-items: center;
   justify-items: start;
   padding: 0 30px;
}

#search-bar {
   width: 100%;
   max-width: 600px;
   height: 35px;
   background-color: #e8e8f6;
   border-radius: 50px;
}

.search-icon {
   height: 25px;
   cursor: pointer;
}

#profile {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 60px 45px 40px;
   align-items: center;
   justify-items: center;
}

.profile-pic {
   border-radius: 50%;
}

.profile-main {
   height: 45px;
   grid-column: 3;
   cursor: pointer;
}

.notifications {
   height: 25px;
   grid-column: 2;
   cursor: pointer;
}

#actions {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: start;
}

button {
   background-color: #468bd0;
   color: white;
   font-weight: 600;
   font-size: 16px;
   width: 100px;
   height: 40px;
   border: 0px;
   border-radius: 50px;
   cursor: pointer;
}

#account-welcome {
   display: grid;
   grid-template-columns: 30px 75px 1fr;
   grid-template-rows: 15px 25px 1fr;
   align-items: center;
   justify-items: start;
}

.profile-welcome {
   height: 65px;
   grid-column: 2;
   grid-row: 1/4;
}

.greeting {
   grid-column: 3;
   grid-row: 2;
   align-self: end;
   margin: 0;
}

#name {
   grid-column: 3;
   grid-row: 3;
   align-self: start;
   padding-top: 2px;
   font-size: 24px;
}

/* Main */
#main-content {
   width: 100%;
   height: 100%;
   background-color: #e8e8f6;
   grid-column: 2/4;
   grid-row: 2/4;
}